!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    = stylesheet_link_tag "foundation_emails"
  %body
    %table.body{"data-made-with-foundation" => ""}
      %tr
        %td.center{:align => "center", :valign => "top"}
          %center
            %container
              = yield
